body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


/* INDEX */
.index_image {
    width: 50%;
    margin: 5%;
}

/* DEV */
.dev_table {
    margin-left: auto;
    margin-right: auto;
}