<html>
    {% extends "base.html" %}

    <body>
        {% block content %}

        <a href="{{ url_for('index') }}">
            <img src="static/THE_OG.jpg" class="index_image">
        </a>

        <form action="{{ url_for('add_to_db') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file" accept=".csv, .xlsx">
            <br> <br>
            <input type="submit" value="Add to Database">
        </form>

        {% endblock %}
    </body>
</html>