<html>
{% extends "base.html" %}

<body>
      {% block content %}

      <a href="{{ url_for('index') }}">
            <img src="static/THE_OG.jpg" class="index_image">
      </a>


      <form action="{{ url_for('change_phone_number') }}" method="POST">
            <h2>Update Contact Number Below</h2>

            <label for="name">Name</label> <br>
            <input type="text" id="name" name="name">
            <br><br><br><br>
            <label for="old_number">Current Phone Number</label> <br>
            <input type="text" id="old_number" name="old_number">
            <br><br><br><br>
            <label for="old_number">New Phone Number</label> <br>
            <input type="text" id="new_number" name="new_number">
            <br><br><br><br>
            <input type="submit" value="Change Contact Number">

            {% if error %}
            <p>Ruh Roh: <b>{{ error }}</b></p>
            {% endif %}
      </form>

      {% endblock %}
</body>

</html>